{% extends 'base.html' %}

{% block content_upperbar %}
  <li><a href="{% url 'index' %}" class="nav-link">메인 화면</a></li>
  <li><a href="{% url 'download' %}" class="nav-link">다운로드</a></li>
  <li class="active"><a href="{% url 'glory' %}" class="nav-link">명예의 전당</a></li>
  <li><a href="{% url 'blog' %}" class="nav-link">게임 공략</a></li>
{% endblock content_upperbar %}

{% block content_login %}
    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('/static/images/space10.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-5 mt-5 pt-5">
              <h1 class="mb-3">명예의 전당</h1>
              <p>가장 높은 점수에 도달한 최고의 플레이어들을 만나보세요!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content_main %}
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7 mb-5">
            <h5 class="subtitle">랭킹</h5>
            <h2>각 게임별 최고점수 플레이어 조회</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-6 mb-lg-4">
            <div class="feature-1">
              <span class="wrap-icon">
                <span class="icon-home"></span>
              </span>
              {% for rank1 in ranker1 %}
              <h2>우주 大 전쟁</h2>
              <h3>닉네임 : {{rank1.first_name}}</h3>
              <h2>{{rank1.score_one}}점 / 1위</h2>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-6 mb-lg-4">
            <div class="feature-1">
              <span class="wrap-icon">
                <span class="icon-drafts"></span>
              </span>
              {% for rank3 in ranker3 %}
              <h2>텐가이</h2>
              <h3>닉네임 : {{rank3.first_name}}</h3>
              <h2>{{rank3.score_three}}점 / 1위</h2>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
{% endblock %}
